{% extends 'base.html.twig' %}

{% block title %}Hello TableRollController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <div class="example-wrapper">
        <br>----------------------------------------------------------<br>
        <button class="btn btn-primary btn-sm" onclick="rollAllDice(3)">Roll 3D6</button>
        <a>For Die Hards </a>
        <br>----------------------------------------------------------<br>
        <button class="btn btn-primary btn-sm" onclick="rollAllDice(4)">Roll 4D6</button>
        <a>For Stability </a>
        <br>----------------------------------------------------------<br>
        <select id="raceSelect">
            <option value="human">Human</option>
            <option value="halfling">Halfling</option>
            <option value="dwarf">Dwarf</option>
            <option value="gnome">Gnome</option>
            <option value="tiefling">Tiefling</option>
            <option value="half-elf">Half-Elf</option>
            <option value="elf">Elf</option>
            <option value="half-orc">Half-Orc</option>
            <option value="dragonborn">Dragonborn</option>
        </select>

    </div>
</div>
<div class="container">
    <div class="row-text">
        <div class="row">
            <div class="column left">STR</div>
            <div class="column middle" id="total_STR">Score</div>
            <div class="column right" id="modifier_STR">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('STR', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('STR', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_STR">Roll your dice!</h3>
        </div>
    </div>
    <div class="row-text">
        <div class="row">
            <div class="column left">DEX</div>
            <div class="column middle" id="total_DEX">Score</div>
            <div class="column right" id="modifier_DEX">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('DEX', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('DEX', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_DEX">Roll your dice!</h3>
        </div>
    </div>
     <div class="row-text">
        <div class="row">
            <div class="column left">CON</div>
            <div class="column middle" id="total_CON">Score</div>
            <div class="column right" id="modifier_CON">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('CON', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('CON', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_CON">Roll your dice!</h3>
        </div>
    </div>
        <div class="row-text">
        <div class="row">
            <div class="column left">INT</div>
            <div class="column middle" id="total_INT">Score</div>
            <div class="column right" id="modifier_INT">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('INT', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('INT', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_INT">Roll your dice!</h3>
        </div>
    </div>
        <div class="row-text">
        <div class="row">
            <div class="column left">WIS</div>
            <div class="column middle" id="total_WIS">Score</div>
            <div class="column right" id="modifier_WIS">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('WIS', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('WIS', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_WIS">Roll your dice!</h3>
        </div>
    </div>
        <div class="row-text">
        <div class="row">
            <div class="column left">CHA</div>
            <div class="column middle" id="total_CHA">Score</div>
            <div class="column right" id="modifier_CHA">Modifier</div>
        </div>
        <div class="dice-text">
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('CHA', 3)">Roll 3D6</button>
            <button class="btn btn-primary btn-sm" onclick="incrementNumDice('CHA', 4)">Roll 4D6</button>
            <h3 id="ReRollDice_CHA">Roll your dice!</h3>
        </div>
    </div>
</div>



<script>
document.getElementById('raceSelect').addEventListener('change', function() {
  var selectedRace = this.value;
  console.log('Selected race:', selectedRace);
  // You can perform any further actions with the selected race here
});

function incrementNumDice(attribute, numDice) {
    var counts = {};
    counts['D6'] = numDice;

    $.ajax({
        url: '{{ path('stat_roll') }}',
        method: 'GET',
        data: { 
            counts: JSON.stringify(counts) 
        },
        success: function(response) {
             console.log(attribute); 
            console.log(response); 
                document.getElementById('ReRollDice_' + attribute).innerText = 'You rolled = ' + response.dice;
                document.getElementById('total_' + attribute).innerText = response.total;
                document.getElementById('modifier_' + attribute).innerText = response.modifier;
        },
        error: function(xhr, status, error) {
            console.log(response); 
            console.log(status); 
            console.error(error);
        }
    });
}

function rollAllDice(numDice) {
    incrementNumDice('STR', numDice);
    incrementNumDice('DEX', numDice);
    incrementNumDice('CON', numDice);
    incrementNumDice('INT', numDice);
    incrementNumDice('WIS', numDice);
    incrementNumDice('CHA', numDice);
}


</script>
{% endblock %}
