{% extends 'base.html.twig' %}

{% block title %}Hello TableRollController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <div class="example-wrapper">
        <br>----------------------------------------------------------<br>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(3)">Roll 3D6</button>
        <a>For Die Hards </a>
        <br>----------------------------------------------------------<br>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(4)">Roll 4D6</button>
        <a>For Stability </a>
        <br>----------------------------------------------------------<br>
</div>
    <h2 id="ReRollDice">Roll your dice!</h2>
</div>
<div class="container">
    <div class="row">
        <div class="column left">Strenght</div>
        <div class="column middle">Score</div>
        <div class="column right">Modifier</div>
    </div>
</div>

<script>
function incrementNumDice(numDice) {
    var counts = {};
    counts['D6'] = numDice;

    $.ajax({
        url: '{{ path('stat_roll') }}',
        method: 'GET',
        data: { 
            counts: JSON.stringify(counts) 
        },
        success: function(response) {
            console.log(response); 
            document.getElementById('ReRollDice').innerText = 'You rolled = ' + response.dice;
        },
        error: function(xhr, status, error) {
            console.log(response); 
            console.log(status); 
            console.error(error);
        }
    });
}

</script>
{% endblock %}
