.container {
    display: flex;
    justify-content: flex-start; /* Align columns to the left */
    margin-left: 20%; 

  }
  
  .row {
    display: flex;
    border: 2px solid black; /* Add black border */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #e0e0e0;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left {
    width: 100px;
    height: 70px;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:  2px solid black; /* Add black border */
  }
  
  .middle {
    
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100px;
    height: 70px;
    
  }
  
  .right {
    width: 70px;
    height: 70px;
    background-color: #d0d0d0;
    border-radius: 50%;
    border: 2px solid black; /* Add black border */
  }


  