{% extends 'base.html.twig' %}

{% block title %}Hello RollDiceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 <h1> {{ controller_name }}</h1>
  
<div {{ stimulus_controller('dice') }}>
    select Amount of dice
    <span class="dice-counter">0</span>
    to roll.
    <button class="btn btn-primary btn-sm">
        Dice.
    </button>

</div>
    <label for="numDice">Number of Dice:</label>
    <input type="number" id="numDice" name="numDice" value="1" min="1">
    <br>
    <button id="rollButton" class="btn btn-primary btn-sm">
        Roll me! 
    </button>

    <h2 id="ReRollDice">Roll your dice!{{ dice }}</h2>

</div>

<script>
    document.getElementById('rollButton').addEventListener('click', function() {
    var numDice = document.getElementById('numDice').value; // Get the number of dice from the input field
    $.ajax({
        url: '{{ path('roll_dice_D6') }}',
        method: 'GET',
        data: { numDice: numDice }, // Pass the number of dice as a query parameter
        success: function(response) {
            // Update the content of the <h2> element with the new dice roll
            console.log(response);
            console.log(response.dice);
            console.log(response.test);
            document.getElementById('ReRollDice').innerText = 'Your roll = ' + response;
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
});

</script>

{% endblock %}
