{% extends 'base.html.twig' %}

{% block title %}Hello RollDiceController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
 <h1> {{ controller_name }}</h1>
  
<div {{ stimulus_controller('dice') }}>
    select Amount of dice
    <span class="dice-counter">0</span>
    to roll.
    <button class="btn btn-primary btn-sm">
        Dice.
    </button>

</div>
    <button id="rollButton" class="btn btn-primary btn-sm">
        Roll me!
    </button>
    <h2 id="ReRollDice" >Your roll = {{ dice }}</h2>
</div>

<script>
    document.getElementById('rollButton').addEventListener('click', function() {
        fetch('{{ path('roll_dice_D6') }}')
            .then(response => response.json())
            .then(data => {
                // Check if the 'dice' property exists in the data
                if (data && data.dice !== undefined) {
                    document.getElementById('ReRollDice').innerText = 'Your roll = ' + data.dice;
                } else {
                    console.error('Invalid response format or missing dice property');
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });

    });
</script>

{% endblock %}
