{% extends 'base.html.twig' %}

{% block title %}Hello TableRollController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <div class="example-wrapper">
        <h1>Number of Dice: <span id="numDice">0</span></h1>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(4)">D4</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(6)">D6</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(8)">D8</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(10)">D10</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(12)">D12</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(20)">D20</button>
        <button class="btn btn-primary btn-sm" onclick="incrementNumDice(100)">D100</button>
    </div>

    <label for="amountOfDice">Number of Dice:</label>
    <input type="number" id="amountOfDice" name="amountOfDice" value="1" min="1">
    <br>
    <button id="rollButton" class="btn btn-primary btn-sm">
        Roll me! 
    </button>

    <h2 id="ReRollDice">Roll your dice!</h2>
</div>
<script>
    function incrementNumDice(increment) {
        var numDiceElement = document.getElementById('numDice');
        var currentNumDice = parseInt(numDiceElement.innerText);
        var newNumDice = currentNumDice + increment;
        numDiceElement.innerText = newNumDice;
    }
</script>
<script>
    document.getElementById('rollButton').addEventListener('click', function() {
    var amountOfDice = document.getElementById('amountOfDice').value; // Get the number of dice from the input field
    $.ajax({
        url: '{{ path('roll_dice_D8') }}',
        method: 'GET',
        data: { amountOfDice: amountOfDice }, // Pass the number of dice as a query parameter
        success: function(response) {
            // Update the content of the <h2> element with the new dice roll
            console.log(response); 
            document.getElementById('ReRollDice').innerText = 'Your roll = ' + response.dice;
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
});

</script>
{% endblock %}
