{% extends 'base.html.twig' %}

{% block title %}New RacialTrait{% endblock %}

{% block body %}
    <h1>Create new RacialTrait</h1>

    {{ include('racial_trait/_form.html.twig') }}

    <a href="{{ path('app_racial_trait_index') }}">back to list</a>
{% endblock %}
